## Imports

In [1]:
import sqlite3
import pandas as pd
import os

# Creating dfs from sqlite

In [2]:
# creating connection
conn = sqlite3.connect('data/olist.sqlite')

In [3]:
# retrieving table names from sqlite_master which holds all the metadata of the db
query = "SELECT name FROM sqlite_master WHERE type='table';" # selects the name column from the sql database, from sqlite master
                                                            # which holds info about all the tables in the sql db. It's like
                                                            # a catalog of the metadata of the db. We specify that we want the tables
                                                            # only and not indexes or sth like that.
tables = pd.read_sql(query, conn)
table_names = tables['name'].tolist()
table_names

['product_category_name_translation',
 'sellers',
 'customers',
 'geolocation',
 'order_items',
 'order_payments',
 'order_reviews',
 'orders',
 'products',
 'leads_qualified',
 'leads_closed']

In [4]:
# using a dict comprehension, to assign a df created from the sql table to the corresponding name
dataframes = {table: pd.read_sql(f"SELECT * FROM {table}", conn) for table in table_names}
dataframes["sellers"]

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [6]:
# save destination and creating directory if it doesn't exist
save_destination = "data/"

os.makedirs(save_destination, exist_ok=True)

# for loop that iteratively defines a name, then makes an sql query and turns it into a dataframe
# and then accesses the name given and assigns df to it
for table in table_names:
    df_name = f"{table}_df"
    df = pd.read_sql(f"SELECT * FROM {table}", conn)
    globals()[df_name] = df

# joining destination with file name and saving it
    csv_file_name = os.path.join(save_destination,f"{table}.csv")
    df.to_csv(csv_file_name)
    
conn.close()